.fizz{
  color: yellow;
  font-weight: bold;
}
.buzz{
  color: green;
  font-weight: bold;
}
.fizzbuzz{
  color: red;
  font-weight: bolder;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}